{% comment %} <p class="cl">Full width: {{section.settings.full_width }}</p>
<p class="cl">Rotate slide: {{section.settings.rotate_slide }}</p>
<p class="cl">Desktop height: {{section.settings.desktop_height }}</p>
<p class="cl">Mobile height: {{section.settings.mobile_height }}</p>
<p class="cl">Change slide every: {{section.settings.change_slide }}</p>
<p class="cl">Transition: {{section.settings.transition }}</p>
<p class="cl">Controls: {{section.settings.controls }}</p> {% endcomment %}

{% comment %} {%  for setting in section.settings %}
  <p class="cl">{{ setting }} : {{ section.settings[setting] }}</p>
{% endfor %} {% endcomment %}
{{ 'custom_slider.css' | asset_url | stylesheet_tag }}


<div class="slides">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'slide' %}
            <div class="slide" {{ block.shopify_attributes }}>
                {{ block.settings.image | image_url: height: nil | image_tag }}
                <div class="slide-content">
                    <h3 class="slide-title">
                        {{ block.settings.title | upcase }}
                    </h3>
                    <button class="slide-btn">
                        {{ block.settings.button_title }}
                    </button>
                </div>
            </div>
        {% endcase %}
    {% endfor %}
</div>

<div class="controls-btns">
    <button class="btn left"><</button>
    <button class="btn right">></button>
</div>

<script>
    const prevBtn = document.querySelector(".btn.left");
    const nextBtn = document.querySelector(".btn.right");
    
    const slide_wrapper = document.querySelector(".slides");
    const slides = document.querySelectorAll(".slide");
    const slideWidth = slides[0].offsetWidth;

    let indexCurrentSlide = 0;

    prevBtn.onclick = (e) => {
        indexCurrentSlide--;
        if(indexCurrentSlide < 0) indexCurrentSlide = slides.length - 1;
        slide_wrapper.style.right = `${slideWidth * indexCurrentSlide}px`;
    };

    nextBtn.onclick = (e) => {
        indexCurrentSlide++;
        if(indexCurrentSlide > slides.length - 1) indexCurrentSlide = 0;
        slide_wrapper.style.right = `${slideWidth * indexCurrentSlide}px`;
    };

</script>

{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "blocks": [
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
           },
           {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "This is default title"
            },
            {
                "type": "text",
                "id": "button_title",
                "label": "Button Title",
                "default": "SHOP NOW"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
         ]
       }
     ]
  }
{% endschema %}